.input {
  @extend .text-primary;
  outline: none;
  max-height: 40px;
  padding: 16px 10px;
  border-radius: 8px;
  line-height: 16px;
  box-shadow: none;
  border: 1px solid map-get($theme-colors, "grey");
  &:focus {
    border: 1px solid map-get($theme-colors, "secondary");
  }
  &.error {
    border: 1px solid map-get($theme-colors, "error");
  }
}
.errormessage {
  @extend .text-error;
  margin: 8px 0px 0px;
  padding: 0px;
  font-size: 12px;
}
.custom-textarea {
  border: 1px solid map-get($theme-colors, "grey");
  border-radius: 8px;
  outline: none;
  padding: 16px 10px;
  &:focus {
    border: 1px solid map-get($theme-colors, "secondary");
  }
  &.error {
    border: 1px solid map-get($theme-colors, "error");
  }
}
.star-icon {
  cursor: pointer;
}
.custom-button {
  @extend .text-medium;
  @extend .text-primary;
  font-family: $Graphik, sans-serif;
  outline: none;
  height: 40px;
  border-radius: 8px;
  background-color: map-get($theme-colors, "secondary");
  border: none;
  font-size: 18px;
  &:hover {
    background-color: rgba(43, 212, 219, 0.6);
  }
  &:disabled {
    background-color: map-get($theme-colors, "grey");
    opacity: 0.6;
  }
}
