.custom-input {
  @extend .text-primary;
  outline: none;
  max-height: 50px;
  padding: 16px 10px;
  border-radius: 8px;
  line-height: 16px;
  box-shadow: none;
  border: 1px solid map-get($theme-colors, "grey");
  &:focus {
    border: 1px solid map-get($theme-colors, "secondary");
  }
  &.error {
    border: 1px solid map-get($theme-colors, "error");
  }
}
.custom-textarea {
  border: 1px solid map-get($theme-colors, "grey");
  border-radius: 8px;
  outline: none;
  padding: 16px 10px;
}
.star-icon {
  cursor: pointer;
}
